{% extends 'slider-base.html' %}
{% load static  %} 
{% load bootstrap5 %}
{% block content %}
<section style="background-color: #F3F9FF; height: 700px;">
{% if request.user %}
<div class="container-fluid pt-5">
  <div class="row">

    <div class="col-md-3">
      <div class="card">
        <div class="text-center">
          {% if profile.profile_photo.url %}
          <img class="profile_picture my-4"
             src="{{profile.profile_photo.url}}" style="height: 10vh; width:10vh; border-radius: 50%;" alt="" >
             {% else %}
            <img class="profile_picture my-4"
               src="https://res.cloudinary.com/dbos9xidr/image/upload/v1626854682/zvtfufhexa8lqqqgcdt3.png" style="height: 10vh; width:10vh;" alt="">
               {% endif %}
        </div>
     
        <h4 class="text-center text-dark mb-2">{{user.username}}</h4>
        <div class="card-header"><a href="{%url 'createResults'%}">Upload Results</a></div>
        <div class="card-header"><a href="{%url 'createUnit' %}">Register Units</a></div>
        <div class="card-header"><a href="{%url 'createSem'%}">Add semester</a></div>
      </div>

    </div>
  </div>
</div>

{% endif %}
</section>

{% endblock %}