{% extends 'slider-base.html' %} {% block content %} {% load static %}
<section class="profile">

    <div class="container-full container">
        <div class="prof_container">
            <div class="row">
                <div class="col-lg-4 col-md-12 job_prof">
                    <hr>
                    <div class="job-img">
                        {% if profile.profile_photo %}
                        <img src="{{profile.profile_photo.url}}" alt="" class="prof-pic"> {%else%}
                        <img src="" class="prof-pic" alt="My profile picture"> {% endif %}
                        <hr>

                    </div>

                    <div class="sub-btn">
                        <a href="{% url 'update_student_profile' %}" class="prof-btn">
                            <button class="btn btn-light mr-1 mb-1" type="submit">Update Profile</button>
                        </a>

                       
                    </div>

                </div>
                <div class="col-lg-7 col-md-12 prof_content">
                    <h3>INFORMATION</h3>
                    <hr>
                    <div>
                        <h4>First Name : <span>{{ user.first_name }}</span> </h4>
                        <h4>Last Name: <span>{{ user.last_name }}</span> </h4>
                        <h4>Username : <span>{{ user.username }}</span> </h4>
                        <h4>Email Address : <span>{{ user.email }}</span> </h4>
                        <h4>Reg-no : <span class="badge badge-danger text-white">{{ profile.regno }}</span>
                        </h4>
                        <h4>Gender : <span class="badge badge-warning text-dark">{{ profile.gender }}</span>
                        </h4>
                        <h4>Semester: <span class="badge badge-primary text-white">
                                {{profile.semester}}</span> </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="prof-logo">
            <a href=""><i class="uil uil-facebook"></i></a>
            <a href=""><i class="uil uil-twitter"></i></a>
            <a href=""><i class="uil uil-instagram"></i></a>
        </div>
    </div>

    </div>



</section>


{% endblock %}