{% extends 'slider-base.html' %}
{% load bootstrap5 %}
{%load static%}
{% block content %}
<div class="container-fluid employ mt-5">
  <div class="row">
    {% if messageees %}
    {% for message in messageees %}
    <div class="row ">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-md-3 mr-2">
    <div class="card">
      <div class="text-center">
        {% if profile.profile_photo.url %}
        <img class="profile_picture my-4" src="{{profile.profile_photo.url}}"
          style="height: 10vh; width:10vh; border-radius: 50%;" alt="">
        {% else %}
        <img class="profile_picture my-4"
          src="https://res.cloudinary.com/dbos9xidr/image/upload/v1626854682/zvtfufhexa8lqqqgcdt3.png"
          style="height: 10vh; width:10vh;" alt="">
        {% endif %}
      </div>

      <h4 class="text-center text-dark mb-2">{{user.username}}</h4>
      <div class="card-header"><a href="{%url 'update_parent_profile'%}">Update Details</a></div>
      <div class="card-header"><a href="{%url 'parentProfile'%}">See my Profile</a></div>
    </div>


  </div>
  <div class="col-md-8">
    <div class="row pl-3">
      {% if students%}
      <h2>Found {{ students|length }} students in  {{message|title}}</h2>
      {% else %}
      <h2> Found 0 students in {{message|title}}</h2>
      {% endif %}

    </div>

    <h5 class="">POTENTIAL CANDIDATES: </h5>
    <hr>
    <div class="card card-body table-responsive">
      <table class="table table-striped" border="1">
        <tr>
          <th scope="col">
            <h3 class="thead">Name</h3>
          </th>
          <th scope="col">
            <h3 class="thead">Email</h3>
          </th>
          <th scope="col">
            <h3 class="thead">Phone</h3>
          </th>
          <th scope="col">
            <h3 class="thead">Category</h3>
          </th>
          <th scope="col">
            <h3 class="thead">View</h3>
          </th>
          <th scope="col">
            <h3 class="thead">Contact</h3>
          </th>
        </tr>
        {% for student in students %}
        {% if student.user%}
        <tr class="tr1">
          <td>{{student.user.first_name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.regno}}</td>
          <td>{{student.marks}}</td>
          <td><a href="{%url 'profileStudent' job_seeker.user.id %}"><button class="button btn btn-warning btn-sm">View</button></a></td>
        </tr>
        {%endif%}
        {%endfor%}

      </table>

    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
<!-- <script>
  let hireJobSeeker = document.getElementsByClassName("hireJobSeeker");

  for (let i = 0; i < hireJobSeeker.length; i++) {
    hireJobSeeker[i].addEventListener("click", function () {
      let seekerId = this.dataset.product;
      let action = this.dataset.action;
      console.log("seekerId:", seekerId);
    })
  }
</script> -->
{% endblock %}