{% extends 'slider-base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}


<section style="background-color: #f3f9ff;">
  <div class="container  pt-5">
    <div class="format" style="width: 100%;">
      <div class="upt" id="myContent">
          <h2 class="text-center">Update Profile</h2>
          <form class="forms" action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="form-group" style="gap: 10px;">
                <div class="">
                {{ u_form | crispy }}
                </div>
                {{ p_form | crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-success" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
     </div>
    </div>
</div>


</div>
</div>
</section>
{% endblock %}