{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  {% if title %}
  <title>Results- {{title}}</title>
  {% else %}
  <title>Results</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.pixabay.com/photo/2013/07/12/12/17/check-145512__340.png" />
  {% endif %}
  {% block styles %}
  {% bootstrap_css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya&family=Hurricane&family=Inter&family=Lora&family=Montserrat:wght@400;700&family=Nunito:wght@200&family=Open+Sans&family=Poppins:wght@300;400&family=Quicksand&family=Raleway:wght@300&family=Roboto&family=Roboto+Slab:wght@300;400&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://kit.fontawesome.com/3af6dccc22.js" crossorigin="anonymous"></script>
  {% endblock %}

  <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
      width: 100%;
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
                  <div class="row">
                  <div class="col-4" style="background-color: rgb(141, 141, 192); a">
                      <div class="sidebar-content">
                          {% include 'sidenav.html' %}
                      </div>
                  </div>
                  <div class="col-8">
                    {% block content %}

                    {% endblock %}
                  </div>
                </div>
 
          
  {% include 'footer.html' %}
  
  </body>
</html>