{%extends 'all-temps/base.html'%} {% block content %} {{block.super}}
<div class="container" style=" width:60%;">
    <div class="card-fluid">
        <div class="row">
            <div class="col-12" style="width: 100%; padding:10%;">
                <div class="input">
                    <div class="text-center">
                        <hr>
                        <div class="guide" style="margin-top: 5%;margin-bottom: 5%;color: brown;font-size: xx-large;font-weight: 600;">
                            Welcome to Cornerstone High School
                        </div>
                        <hr />

                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="card-fluid">
            <div class="row">
                <div class="col-12">
                        <div class="card-image" style="width: 100%; margin-left: 20%; margin-top: -5%; margin-bottom: 5%;">
                            <img class=" img-fluid" src="https://cdn.pixabay.com/photo/2021/11/09/09/05/meeting-6781073__340.png" alt="width: 100%; height: auto;">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
