{%extends 'all-temps/base.html'%} {% block content %} {{block.super}}
<div class="container" style="align-items:center; width:60%; margin-top: 10%;">
    <div class="card">
        <div class="row">
            <div class="col-md-6" style="width: 100%; padding:10%;">
                
                <div class="input">
                    <div class="text-center">
                        <div class="title"></div>
                        <hr>
                        <div class="guide" style="margin-top: 5%;margin-bottom: 5%;color: brown;font-size: xx-large;font-weight: 600;">
                            Welcome to Cornerstone High School
                        </div>
                        <hr />

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
