{% extends 'all-temps/base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container" style="align-items:center; width:60%; margin-top: 10%;">
    <div class="card">
        <div class="row">
            <div class="col-md-6" style="width: 100%; padding:10%;">
                
                <div class="input">
                    <div class="text-center">
                        <div class="title"></div>
                        <div class="guide">
                            These are your Terms.
                        </div>
                        <hr />

                    </div>
                    <div class="row">

                        {% for sems in sems %}
                        <div class="body col-6">
                                <p> <span style="font: weight 900px; font-size:larger;">{{sems.term_name}}
                                    </span></p>
                                </p>
                        </div>
                        <div class="body col-6">
                            <a href="{% url 'removeSem' sems.term_name %}" onclick="return confirm('Are you sure you want to delete this term?')"
										class="btn btn-outline-danger">
										De-register</a>
                        </div>
                        {% endfor %}

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}