{% extends 'all-temps/base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container" style="align-items:center; width:60%; margin-top: 10%;">
    <div class="card">
        <div class="row">
            <div class="col-md-6" style="width: 100%; padding:10%;">
                
                <div class="input">
                    <div class="text-center">
                        <div class="title"></div>
                        <div class="guide">
                            These are your units.
                        </div>
                        <hr />

                    </div>
                    <div class="row">
                        <div class="body col-6">
                            {% if units.unit_code %}
                                <p> <span style="font: weight 900px; font-size:larger;">{{units.unit_code}}
                                    </span></p>
                                </p>
                            {% endif %}
                        </div>
                    <div class="body col-6">
                        {% if units.unit_name %}
                            <p> <span style="font: weight 900px; font-size:larger;">{{units.unit_name}}
                                </span></p>
                            </p>
                        {% endif %}
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}