{%extends "registration/base.html"%} {% load bootstrap5 %}
{% load static %}
{% block content %}


<div class="content mt-5" style="margin-bottom: 10%;">
  <div class="container">
    <div class="row">
     
      <div class="col-md-6">
        <img class="sign" src="{%static 'images/reg.jpg' %}" alt=""style="width: 100%; ">
      </div>
      <div class="col-md-6 contents" >
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Register with your Email</h3>
            <p class="mb-4">Thank you for Registering with us.</p>
          </div>
          <form  method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
  
            <div class="form-group text-center">
              <button class="btn"  type="submit" style="background: #41ec16;; color: #fff;">Sign Up</button>
            </div>
          </form>
          </div>
          <div class="" style="margin-top: 1rem;padding-left: 5%;">
            <p>Already have an account?<a href="{%url 'login'%}">Login</a></p>
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>

</div>


{% endblock %}