{%extends "registration/base.html"%} {% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}


<div class="content">
  <div class="container">
    <div class="row">
      {% if form.errors %}
      <p>Some Information Might be Incorrect</p>
      {% endif %}
      <div class="col-md-6">
        <img class="sign" src="{%static 'image/undraw_my_password_re_ydq7.svg' %}" alt=""style="width: 100%; ">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Register with your Email</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
          </div>
          <form  method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
  
            <div class="form-group text-center">
              <button class="btn " type="submit" style="background: #9C0646; color: #fff;">Sign Up</button>
            </div>
          </form>
          </div>
          <div class="card" >
            <p>Already have an account?<a href="/accounts/login/">Login</a></p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>

</div>


{% endblock %}