{%extends "registration/base.html"%}
{% load bootstrap5 %}
{% load static %}
{% block content %}


<div class="content mt-5">
  <div class="container">
    <div class="row">
      {% if form.errors %}
      <p>Some Information Might be Incorrect</p>
      {% endif %}
      <div class="col-md-6">
        <img src="{% static 'images/login.webp' %}" alt="" style="width: 100%; ">
      </div>
      <div class="col-md-6 contents" style="background-color: rgb(141, 141, 192);">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Login </h3>
            <p class="mb-4">Welcome Back    .</p>
          </div>
          <form  method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
  
            <div class="form-group text-center">
              <button class="btn" type="submit" style="background: #41ec16; color: #fff;" >Log In</button>
            </div>
          </form>
          </div>
          <div class="" style="margin-top: 1rem;padding-left: 5%;">
            <p>Don't have an account?<a href="/accounts/register/">Register</a></p>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>

</div>

{% endblock %}