{% extends 'slider-base.html' %}
{% load static %}
{% block content %} 
{{block.super}}
<div class="container-fluid options-page" >

<div class="btn-options text-center mt-5" style="padding-top: 250px; margin-left:10%;">
    <a href="{%url 'parent_signup' %}" class="btn btn btn-warning mr-4">Register As a Parent</a>
    <a href="{%url 'student_signup' %}" class="btn btn btn-info">Register As a Student</a>
</div>

</div>

<div class="foot-cont">
    <footer class="text-center text-dark text-lg-start " style="background-color:  #e6f0f9;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                StudentPortal
              </h6>
              <p>
                Visit the dashboard to access our school's portal. You will find different functionalities depending on how you've registered.For parents, they can access the parents dashboard whereby the can be able to view our students list and performance. For students they'll access the students dashboard whereby they can register and upload their results once verified by the admin.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              
              <p>
                <a href="/" class="text-dark">Home</a>
              </p>
   
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Thika Road, Juja, Nairobi</p>
              <p><i class="fas fa-envelope mr-3"></i> StudentPortal@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +254 *** ***</p>
              <p><i class="fas fa-print mr-3"></i> +254 *** ***</p>
            </div>
            <!-- Grid column -->
            
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    </footer>
  </div>
{%endblock%}