<style>
.footer_main_wrapper{
  background:#000000;
  position:relative;
}
.index2_footer_wrapper p , .index2_footer_wrapper ul li a , .index2_footer_wrapper .wrapper_second_useful ul li, .index2_footer_wrapper p, .index2_footer_wrapper p a, .index2_footer_wrapper li a{
  color:#6c6c6c;
}
.index2_footer_wrapper i , .index2_footer_wrapper ul li i{
  color: #000000;
}
.index2_footer_wrapper{
  background:#B4ECE3;
}
.index2_footer_wrapper .social_link_foter li a:hover {
    background: #B4ECE3;
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.index2_footer_wrapper .copyright_wrapper {
    border-top: 2px solid rgb(80 78 78 / 29%);
}
.copyright_wrapper{
  border-top:1px solid rgba(255, 255, 255, 0.3);
  margin-top:80px;
}
.copyright {
    text-transform: capitalize;
    float: left;
    display: inline-block;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.copyright p a {
    color: #000 !important;
    margin-left: 3px;
}
.copyright_wrapper{
		text-align:center;
	}
	.copyright, .social_link_foter{
		float:none;
		display:inline-block;
	}
	.copyright{
		padding-bottom:0;
	}
.social_link_foter{
  float:right;
  display:inline-block;
  padding:20px 0;
}
.social_link_foter li{
  float:left;
  margin-right:10px;
  list-style-type: none;
}
.social_link_foter li a{
    float:left;
    width:40px;
    height:40px;
    line-height:42px;
    text-align:center;
    background: brown !important;
    color: rgba(255, 255, 255, 0.8) !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.social_link_foter li a:hover{
  background: #000000 !important;
  color:#fff !important;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.social_link_foter li a:hover i{
  color: #ffffff !important;
}
.copyright p {
  color:brown;
}
.copyright p i{
  color:brown;
}
.copyright_wrapper{
  border-top:1px solid rgba(255, 255, 255, 0.3);
  margin-top:80px;
}
.copyright {
    text-transform: capitalize;
    float: left;
    display: inline-block;
  text-align:center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.copyright p a {
    color: #000 !important;
    margin-left: 3px;
}
</style>
  
    <!-- footer section start-->
    <div class="footer_main_wrapper index2_footer_wrapper float_left">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="copyright_wrapper float_left">
                        <div class="copyright">
                            <p>Copyright <i class="far fa-copyright"></i> 2022 <a href="#">Cornerstone High School</a>. all
                                right reserved</p>
                        </div>
                        <div class="social_link_foter">

                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer section end-->