 {%load static%}
<header class="main-header header-style-two">


    <!--End Header Upper-->

    <!-- Hidden Nav Toggler -->
    <!-- <div class="nav-toggler">
      <div class="nav-btn"><button class="hidden-bar-opener"><span class="icon flaticon-menu"></span></button></div>
    </div> -->
    <!-- / Hidden Nav Toggler -->

    <!--Header Lower-->
    <div class="header-lower">

        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="current "><a href="/">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Home Page 01</a></li>
                                    <li><a href="index-3.html">Home Page 02</a></li>
                                    <li class="dropdown"><a href="#">Header Styles</a>
                                        <ul>
                                            <li><a href="index-2.html">Header Style 01</a></li>
                                            <li><a href="index-3.html">Header Style 02</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            </li>
                            <li><a class="text-dark" href="{% url 'aboutUs'%}">About us</a></li>
                        </ul>
                    </div>
                </nav>

                <!-- Main Menu End-->
                <div class="outer-box clearfix">

                    <!--Option Box-->
                    <div class="option-box">
                        <!--Cart Box-->
                        <div class="cart-box">

                        </div>

                        <!--Search Box-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                {%if user.is_authenticated%} {%if user.is_student%}
                                <a href="/" class="text-dark pr-2">DASHBOARD</a>
                                {%endif%} {%if user.is_parent%}
                                <a href="/" class="text-dark pr-2">DASHBOARD</a>
                                {%endif%}
                                <a href="{% url 'logout'%}" class="text-dark pr-2">LOGOUT</a> {%else%}
                                <a href="{%url 'login'%}" class="text-dark pr-2">LOGIN</a>   ||  
                                <a href="{%url 'options'%}" class="text-dark">REGISTER</a> {%endif%}
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="side-curve"></div>
            </div>
        </div>
    </div>
    <!--End Header Lower-->

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/" class="img-responsive"><img src="https://cdn.pixabay.com/photo/2013/07/13/12/43/kids-160168__340.png" alt="" title="" height="60" width="70"></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent1">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Home Page 01</a></li>
                                    <li><a href="index-3.html">Home Page 02</a></li>
                                    <li class=""><a href="#">Header Styles</a>
                                        <ul>
                                            <li><a href="index-2.html">Header Style 01</a></li>
                                            <li><a href="index-3.html">Header Style 02</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class=""><a href="#">About</a> -->
                            </li>

                            <li><a class="text-dark" href="{% url 'aboutUs'%}">About Us</a>


                                {%if user.is_authenticated%} {%if user.is_student%}
                                <li><a href="/" class="text-dark pr-2">DASHBOARD</a></li>
                                {%endif%} {%if user.is_parent%}
                                <li><a href="/" class="text-dark pr-2">DASHBOARD</a></li>
                                {%endif%}
                                <li> <a href="{% url 'logout'%}" class="text-dark pr-2">LOGOUT</a></li>
                                {%else%}
                                <li><a href="{%url 'login'%}" class="text-dark pr-2">LOGIN</a></li>  || 
                                <li> <a href="{%url 'options'%}" class="text-dark">REGISTER</a></li>
                                {%endif%}
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
