<style>
    .nav-header{
        margin-bottom: 5%;
    }
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
    .has-children{
        margin-bottom: 5%;
    }
    .has-children a{
        color:#000000;
    }
    .child-nav li{
        margin-bottom: 5%; 
    }
    .child-nav li a{
        color:#733C3C;
    }
    li a:hover{
        color:#000000;
    }
</style>
<br><br>
<div class="sidebar-nav mt-2 ms-5">
    <ul class="side-nav">
        <li class="nav-header">
            <span style="font-size: x-large;font-weight: bold;">Dashboard</span>
        </li>
        
        <li class="has-children">
            <a href="#"><i class="fa fa-file-text"></i> <span>Student Semesters</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'createSem' %}"><i class="fa fa-bars"></i> <span>Register Semester</span></a></li>
                <li><a href="{% url 'viewSems' %}"><i class="fa fa fa-server"></i> <span>View
                    Semesters</span></a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href=""><i class="fa fa-users"></i> <span>Students</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'createStudent' %}"><i class="fa fa-bars"></i> <span>Add Students</span></a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href="#"><i class="fa fa-file-text"></i> <span>Units</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="{% url 'createUnit' %}"><i class="fa fa-bars"></i> <span>Add 
                    Unit</span></a></li>
                <li><a href="{% url 'regUnit' %}"><i class="fa fa-bars"></i> <span>Register
                    Unit</span></a></li>
                <li><a href="{% url 'viewUnits' %}"><i class="fa fa fa-server"></i> <span>View
                    Units</span></a></li>
               
    </ul>
    </li>
    
    <li class="has-children">
        <a href="#"><i class="fa fa-info-circle"></i> <span>Results</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="{% url 'createResults' %}"><i class="fa fa-bars"></i> <span>Add Result</span></a></li>
            <li><a href="{% url 'viewResults' %}"><i class="fa fa fa-server"></i> <span>View
                        Results</span></a></li>
        </ul>
</div>