<style>
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
</style>
<br><br>
<div class="sidebar-nav mt-5">
    <ul class="side-nav color-gray">
        <li class="nav-header">
            <span class="">Main Category</span>
        </li>
        
        <li class="has-children">
            <a href="#"><i class="fa fa-file-text"></i> <span>Student Semesters</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="#"><i class="fa fa-bars"></i> <span>Create Semester</span></a></li>
                <li><a href="#"><i class="fa fa fa-server"></i> <span>Manage
                    Semester</span></a></li>

            </ul>
        </li>
        <li class="has-children">
            <a href="#"><i class="fa fa-file-text"></i> <span>Units</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="child-nav">
                <li><a href="#"><i class="fa fa-bars"></i> <span>Create
                    Unit</span></a></li>
                <li><a href="#"><i class="fa fa fa-server"></i> <span>Manage
                    Units</span></a></li>
               
    </ul>
    </li>
    <li class="has-children">
        <a href="#"><i class="fa fa-users"></i> <span>Students</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="#"><i class="fa fa-bars"></i> <span>Add Students</span></a></li>
            <li><a href="#"><i class="fa fa fa-server"></i> <span>Manage
                        Students</span></a></li>

        </ul>
    </li>
    <li class="has-children">
        <a href="#"><i class="fa fa-info-circle"></i> <span>Results</span> <i class="fa fa-angle-right arrow"></i></a>
        <ul class="child-nav">
            <li><a href="#"><i class="fa fa-bars"></i> <span>Add Result</span></a></li>
            <li><a href="#"><i class="fa fa fa-server"></i> <span>Manage
                        Result</span></a></li>

        </ul>
    <li><a href="#"><i class="fa fa fa-server"></i> <span> Admin Change
                Password</span></a></li>

    </li>
</div>